@import "bootstrap-icons/font/bootstrap-icons.css";
@import "tailwindcss";


body {
  background-color: #1e1e1e;
  color: white;
  font-family: 'Inter', sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
